{* old version
{contentType application/xml}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
	    <title>{$app_name}</title>
	    {foreach $arrays as $array}
		    <item>
			<title>{foreach $array as $item}{ifset $item['title']} {$item['title']}{/ifset}{/foreach}</title>
			<category>{foreach $array as $item}{ifset $item['category']}{$item['category']}{/ifset}{/foreach}</category>
			<description>
			    {foreach $array as $item}
				{foreach $item as $image}
				    {ifset $image['image']}{$image['image']}{/ifset}
				{/foreach}
				{ifset $item['description']}{$item['description']}{/ifset}
				{ifset $item['html']}{$item['html']}{/ifset}
				{ifset $item['call']}{$item['call']}{/ifset}
				{ifset $item['mail']}{$item['mail']}{/ifset}
				{ifset $item['url']}{$item['url']}{/ifset}
			    {/foreach}
			</description>
			<guid>{foreach $array as $item}{ifset $item['id']}{$item['id']}{/ifset}{/foreach}</guid>
			<image>{foreach $array as $item}{ifset $item['placeholder']}{$item['placeholder']}{/ifset}{/foreach}</image>
			<pubDate>{foreach $array as $item}{ifset $item['pubDate']}{$item['pubDate']}{/ifset}{/foreach}</pubDate>
		    </item>
	    {/foreach}
    </channel>
</rss>
*}

{contentType application/xml}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
	    <title>{$app_name}</title>
	    {foreach $content as $item}
		<item>
		    <title>{ifset $item['title']}{$item['title']}{/ifset}</title>
		    <category>{ifset $item['category']}{$item['category']}{/ifset}</category>
		    <image>{ifset $item['placeholder']} {$item['placeholder']}{/ifset}</image>
		    <description>
			{*{ifset $item['image']}
			    {foreach $item['image'] as $image}
				{$image}
			    {/foreach} 
			{/ifset}*}	
			{foreach $item as $data}
			    {ifset $data['description']}{$data['description']}{/ifset}
			{/foreach}
			{ifset $item['link']} {$item['link']}{/ifset}
		    </description>
		    <guid>{ifset $item['id']}{$item['id']}{/ifset}</guid>
		    <pubDate>{ifset $item['pubDate']}{$item['pubDate']}{/ifset}</pubDate>
		</item>
	    {/foreach}
	</channel>
</rss>