body {
    font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    word-wrap: break-word;
    max-width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

div.flash.error {
    padding:12px;
    color: #D8000C;
    text-align: center;
    background-color: #FFD2D2;
    font-size:2em;
    vertical-align:middle;
}

.content {
    padding-bottom: 35px;
}

#main {
    margin: 0 auto;
    min-width: 980px;
}

.appid_search {
    width: 300px;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    background: #fff;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #445383;
    -webkit-box-shadow: 0px 0px 25px rgba(151, 160, 191, 0.3);
    -moz-box-shadow: 0px 0px 25px rgba(151, 160, 191, 0.3);
    box-shadow: 0px 0px 25px rgba(151, 160, 191, 0.3);
}

.submit_button {
    background-color: #ff3200de;
    display: inline-block;
    position: relative;
    padding: 0.5rem 2rem;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s;
    border: 2px solid #ff3200;
    overflow: hidden;
    color: rgb(255, 255, 255);
}

.submit_button:hover {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: rgba(255,255,255,0.2);
    color: #ff3200;
}

.src_link {
    padding: 5px;
    font-size: 14px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.center_wrapp {
    padding-left: 284px;
    padding-right: 284px;
    width: 30%;
}

.adam_logo {
    height: 100px;
    margin-top: 110px;
}

.adam_home td {
    text-align: center;
}