{block content}
<div class="content" id="main">
    <center>
	<a n:href="Homepage:default">Zpět na úvodní stránku</a>
	<div class="center_wrapp"> 
	    <table class="container">
		<thead>
		    <tr>
			<th>Název Aplikace</th>
			<th>Odkaz</th>
		    </tr>	
		</thead>
		{foreach $items as $item}
		    <tr><td>{$item['appname']}</td><td><a href="{$baseUri}{$item['path']}">{$baseUri}{$item['path']}</a></td></tr>		
		{/foreach}
	    </table>
	</div>
    </center>
</div>