{block content}
<div class="content" id="main">
    <center>
	<div class="center_wrapp">    
	    <div class="adam_logo"><h2>Test output</h2></div>
		<!-- <h1>Zadejte ID mobilní aplikace</h1> -->
		<div class="adam_home">
		    {control appForm}
		</div>
	</div>
    </center>
</div>
