{block content}
<div class="content" id="main">
    <center>
	<div class="center_wrapp"> 
	    <h1>Propisování proběhlo úspěšně.</h1>
	    <div>
		Tento odkaz <div class="src_link"><a href="{$baseUri}{$path}">{$baseUri}{$path}</a></div> zkopírujte do Wordpressu.
	    </div>
	</div>
	    <br />
	    <a n:href="Homepage:default">Vrátit se na hlavní stránku</a>
    </center>
</div>